/*Set the style for all button elements except start button*/
button:not(.start){
    max-height: 100%;
    max-width: 100%;
    display: block;*/
}

/*Set the style for statistics elements*/
div.info{
    font-size: 16px;
    font-family: "Comic Sans Ms";
    display: inline-block;
    
}

/*Set the style for statistics details*/
#timer, #made, #remaining, #missed{
    display: inline;
    font-weight: bold;
}
/*Set the style for table elements*/
table{
    border-collapse:collapse;
    display: block;
}

/*Set the style for table header and table data elements*/
th, td{
    border: 5px solid black;
    padding-right: 0px;
    padding-left: 0px;
}

/*Set the style for no padding elements*/
.no-padding{
    padding: 0;
    margin: 0;
}

/*Set the style for specific button elements*/
.sq0, .sq1, .sq2, .sq3, .sq4, .sq5, .sq6, .sq7, .sq8, .sq9, .sq10, .sq11, .sq12, .sq13, .sq14, .sq15, .sq16{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
} 

/*Set the style for face down card elements*/
.face-down{
    background-image: url('../img/card-back.png');
}
