<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2>{{details.name}}</h2>
                <p>{{details.description}}</p>
                <img ng-src="{{details.image}}">
            </div>
            <div class="col-md-6">
            <form class="center">
                <h3 class="tagline">Purchase {{details.name}}</h3>
                <p>{{ details.price | currency}}/box</p>
                <div>
                    <label for="quantity">Quantity</label>
                    <input type="number" id="cart" name="quantity" value="1" min="1" max="10" ng-model="input.quantity">
                </div>
                <div></>
                    <label for="color">Color</label>
                    <select id="color" ng-model="input.color" ng-options="color.name for color in colors"></select>
                </div>
                <div>
                    <!--add to cart button-->
                    <button type="button" class="btn btn-primary" ng-click="addToCart()">Add to cart</button>
                    <p class="cart-info" ng-if="showinfo() == true">Added to cart</p>
                </div>
            </form>
            </div>
        </div>
    </div>
</main>